{% extends 'core/base.html' %}

{% block title %}Смена пароля завершена{% endblock title %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Смена пароля успешно завершена</h1>
        <p>
          <a href="{% url 'home' %}" class="btn btn-primary my-2">На главную</a>
          <a href="{% url 'profile' %}" class="btn btn-secondary my-2">В профиль</a>
        </p>
      </div>
    </div>
  </section>
{% endblock content %}