{% extends 'core/base.html' %}

{% block title %}Список пользователей{% endblock title %}

{% load static %}
{% block content %}
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for user in users %}
          <div class="col">
            <div class="card shadow-sm text-white bg-dark" style="--bs-bg-opacity: .75;">
              {% include 'users/user_base.html' with user=user %}
            </div>
          </div>
        {% empty %}
          Список пуст. Эй, админ, почему нет пользователей?
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
