{% extends 'core/base.html'%}

{% block title %}
  Подробное описание товара
{% endblock %}
{% block content %}
  <h1>Подробное описание товара</h1>
  <h5> {{ item.name }} </h5>
  <p> {{ item.text }} </p>
  <p>
    {% for tag in item.tags.all %} {{ tag.name }}
    {% empty %} Тегов нет :( {% endfor %}
  </p>
  <p> {{ item.category.name }} </p>
  {% if rating.stars != 0 %}
    <h3> {{ rating.stars }} звёзд / оценок {{ rating.count }} </h3>
  {% else %}
    <h3> Оценок ещё нет :-( </h3>
  {% endif %}
  {% if request.user.is_authenticated %}
    <a href="/rating/rate/{{ item.id }}"> Оценить этот товар </a>
  {% endif %}
{% endblock %}
