{% extends 'core/base.html'%}

{% block title %}
  Подробное описание товара
{% endblock %}
{% block content %}
  <h1>Подробное описание товара</h1>
  <h2> {{ item.name }} </h2>
  <p> {{ item.text }} </p>
  <p>
    {% for tag in item.tags.all %} {{ tag.name }}
    {% empty %} Тегов нет :( {% endfor %}
  </p>
  <p> {{ item.category.name }} </p>
  {% if rating.star__avg %}
    <h3> {{ rating.star__avg }} звёзд / оценок {{ rating.star__count }} </h3>
  {% else %}
    <h3> Оценок ещё нет :-( </h3>
  {% endif %}
  {% if user.is_authenticated %}
    {% for rate in all_ratings %}
      {% if rate.user == user %}
        <h5> Вы уже оценили товар на: {{ rate.star }} звезд, хотите изменить свою оценку?</h5>
      {% else %}
        <h5> Вы ещё не оценили товар, хотите оценить? </h5>
      {% endif %}
    {% endfor %}
    <form method="post">
      {% csrf_token %}
      <ul>
        {{ form.as_ul }}
        <li class="button">
          <button type="submit">Оценить</button>
        </li>
      </ul>
    </form>
  {% endif %}
{% endblock %}
