{% extends 'core/base.html' %}

{% block title %}Главная{% endblock title %}

{% block content %}
<section class="py-5 text-center container">
  <div class="mx-auto">
    <h1 class="fw-light">Мы рекомендуем</h1>
  </div>
</section>
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for item in items %}
        {% include 'catalog/item_card.html' %}
      {% empty %}
        Список пуст. Эй, админ, добавь инфы!
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}

